/* position */
.bm-burger-button {
    position : fixed;
    width : 20px;
    height : 20px;
    left : 40px;
    top : 40px;
}

/* color */
.bm-burger-bars {
    background: #373a47;
}

/*color on hover */
.bm-burger-bars-hover {
    background: #dd62b8;
}

/* position of cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* color of cross button */
.bm-cross {
    background: #bdc3c7;
}

/* sidebar wrapper */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* general sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 2.5em;
}
  
.bm-morph-shape {
    fill: #373a47;
}
  
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}
  
.bm-item {
    display: inline-block;
    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
.bm-item:hover {
    color: #ffffff;
}
  
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}