footer {
    background-color: #D9A900;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    width: 33.33%;
    padding: 0 20px;
  }
  
  .footer-left h3,
  .footer-center h3,
  .footer-right h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-left ul,
  .footer-center ul,
  .footer-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-left li,
  .footer-center li,
  .footer-right li {
    margin-bottom: 10px;
  }
  .footer-center ul li a,
  .footer-right ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-right ul li a:hover,
  .footer-center ul li a:hover {
    text-decoration: underline;
  }
  
  